<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BorrowerRegistration.mySetUp()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">&gt;&gt;mySetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1509</td> <td>&nbsp;</td><td title="&lt;&lt;BorrowerRegistration.tearDown()[pri:0, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test001SocialSignUp()[pri:1, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test001SocialSignUp</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test002ProfessionalDetails()[pri:2, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test002ProfessionalDetails</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test003LocationAndCreditDetails()[pri:3, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test003LocationAndCreditDetails</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test004LoanRequirement()[pri:4, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test004LoanRequirement</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test005AssessmentFee()[pri:5, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test005AssessmentFee</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test006LiveKyc()[pri:6, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test006LiveKyc</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test007AdharCard()[pri:7, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test007AdharCard</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test008SubmitBankStatement()[pri:8, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test008SubmitBankStatement</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="99b8e7">  <td>22/05/17 12:14:37</td>   <td>1487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BorrowerRegistration.test009Enach()[pri:9, instance:com.lendenclub.test.main.BorrowerRegistration@738dc9b]">test009Enach</td> 
  <td>main@609656250</td>   <td></td> </tr>
</table>
